{% extends "!layout.html" %}

{%- block extrahead %}
{{ super() }}
    <meta name="description" content="littlegrid - simple in-process testing for Oracle Coherence"/>
    <meta name="keywords" content="Coherence testing"/>
    <meta name="keywords" content="Oracle Coherence testing"/>
    <meta name="keywords" content="Coherence unit testing"/>
    <meta name="keywords" content="Coherence integration testing"/>
    <meta name="keywords" content="Coherence functional testing"/>
    <meta name="keywords" content="littlegrid"/>
    <meta name="keywords" content="Getting started with Coherence"/>
    <meta name="keywords" content="Coherence Test Driven Development"/>
    <meta name="keywords" content="Coherence Continuous Integration"/>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30118556-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
                    '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
